@import url(~antd/dist/antd.css);
body {
  background: #ececec; }

.showbd > div {
  font-size: 16px;
  border-bottom: 1px #eee solid;
  padding: 20px 10px; }
  .showbd > div:first-of-type {
    padding-top: 0; }
  .showbd > div:nth-child(even) {
    background: #f7f7f7; }
  .showbd > div span {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 0 0 10px 0; }
  .showbd > div .bd {
    font-size: 12px; }

.ant-layout .logo {
  height: 32px;
  margin: 16px; }

.ant-layout-sider .ant-layout-sider-trigger {
  background: rgba(255, 255, 255, 0.88);
  color: #333; }

.ant-layout-sider-collapsed .nav-text {
  display: none; }

.ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none; }

.ant-menu-inline, .ant-menu-vertical {
  border-right: none; }

.add-button-top {
  margin: 0 0 10px 0; }

.add-button-buttom {
  margin: 10px 0; }

.vertical-center-modal {
  text-align: center;
  white-space: nowrap; }
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0; }
  .vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left; }

.ant-modal-content {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  overflow: auto; }

.workflow-button {
  color: #fff;
  background-color: #108ee9;
  border-color: #108ee9;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 4px;
  height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative; }
  .workflow-button:hover {
    background-color: #3aa5f2; }

.btnCkeditorImgUrl {
  transition: all .3s;
  cursor: pointer;
  font-size: 16px;
  width: 16px;
  color: rgba(255, 255, 255, 0.91);
  margin: 0 4px; }

.filter-box {
  margin: 10px 0; }
  .filter-box .filter-item {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px; }
  .filter-box .filter-item-text {
    width: 200px; }
  .filter-box .filter-item-select > .ant-select {
    min-width: 200px; }
